#=================================
# PYTHON
#=================================
_pycache__/
*.py[cod]
*.pyo
*.pyd


#Virtual environments
venv/
env/

#=================================
# DJANGO
#=================================
db.sqlite3
media/
staticfiles/

#Enviroment variables
.env

# logs
*.log


#=================================
# POSTGRES/DOCKER
#=================================

data/
docker/postgres/data/

#=================================
# REACT
#=================================
client/node_modules/
client/build/

#=================================
# TEST
#=================================
.pytest_cache/
.coverage
htmlcov/

#=================================
# EDITORES
#=================================
.vscode/
.idea/

#=================================
# SISTEMA
#=================================
.DS_Store
Thumbs.db


#=================================
# CLIENT
#=================================

client/node_modules/